.campaign-form {
    width: 45vw;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    margin-top: 20vh;
    margin-left: 35vw;
  }
  
  .input-group {
    margin-bottom: 1em;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .input-group input,
  .input-group select {
    width: 100%;
    padding: 0.5em;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
  }
  
  /* button {
    display: block;
    width: 100%;
    padding: 0.7em;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 1em;
  } */
  
  .selectAll, .submit {
    display: block;
    width: 100%;
    padding: 0.7em;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 1em;
  }

  .error-message {
    margin-top: 1em;
    color: red;
  }

  .buttons-create{
    background-color: var(--primary-color);
    height: 4vh;
    margin-bottom: 3vh;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  