.navigation-tabs {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.navigation-tabs a.active {
  background: #DDDEEB;
  font-weight: bold;
}

.navigation-tabs a {
  background: #BFC0CD;
  padding: 12px 36px; 
  border-radius: 8px 8px 0px 0px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.content-frame {
  border: 4px solid #DDDEEB;
  border-radius: 8px;
  max-width: 1000px;
  flex-grow: 1;
}

.center-container {
   display: grid; 
  margin: 0 auto;
  place-items: center; 
   display: flex; 
   flex-direction: column; 
   align-items: center;
}

.calendar-dates {
  display: flex;
  background: #DDDEEB;
  padding: 4px 0px;
}

.calendar-dates div {
  flex: 1;
  align-items: center;
  text-align: center;
}

.calendar-dates p {
  margin: 0;
}

.calendar-dates p:nth-child(2) {
  font-weight: bold;
  font-size: 25px;
}

.optimization-divider {
  font-size: 25px;
  text-align: center;
  background-color: #bfe7ef;
  align-items: center;
  width: 80%;
  border-radius: 15px;
  padding: 15px;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.aligned {
  display: flex;
  justify-content: space-around; 
  gap: 20px; 
}

.positive {
  border: 5px solid #00B4D8;
  border-radius: 15px;
  background-color: #00B4D8;
  color: aliceblue;
  padding: 10px 25px;
  font-size: 20px;
}

.negative {
  border: 5px solid rgb(230, 108, 108);
  border-radius: 15px;
  background-color: rgb(230, 108, 108);
  color: aliceblue;
  padding: 15px 25px;
  font-size: 20px;
}
