:root {
    --primary-color : #00529F;
    --secondary-color : #009FE0;
    --third-color : #003A5D;
    --accent-color : #E41720;
}

.calendar {
    height: 80vh;
    width: 75vw;
}

.rbc-toolbar{
    width: 75vw;
}

.rbc-toolbar button{
    width: 8vw;
    background-color: var(--third-color);
    color: white;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
    background-color: var(--secondary-color);
    color: black;
    font-weight: bold;
}

.fixDisplay{
    display: flex;
    gap: 20px;
}

.calHeading{
    font-size: 1.7em;
    font-weight: bold;
    color: var(--third-color);
    margin-left: 20vw;
}

.rbc-toolbar-label{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--third-color);
}

.margin-fix{
    margin-left: 20vw;
}

@media only screen and (min-width: 992px) {
    .calendar{

    }
}